    <footer class="row-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p style="padding:10px;"></p>
            <p align=center>© Copyright 2017 My Trips | Having fun!!!</p>
          </div>
        </div>
      </div>
    </footer>
