<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="app" style="padding-top: 4px;">
        <img src="images/logo-ori.png" class="img-thumbnail" style="height: 43px;">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{active: stateis('app')}">
          <a ui-sref="app">
            <span class="fa fa-globe" aria-hidden="true"></span> Home
          </a>
        </li>
        <li ng-class="{active: stateis('app.trips') || stateis('app.dishdetails')}">
          <a ui-sref="app.trips">
            <span class="fa fa-plus" aria-hidden="true"></span> New Trip
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>         
            
<header class="jumbotron">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>My Trips. Having fun!!!</h1>
        <p style="padding:10px;"></p>
        <p>Because you have priorities in your life... and one of them is enjoy it.</p>
        <p>Organize your trips and get fun meeting new people!</p>
      </div>
    </div>
  </div>
</header>
