<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
      <h3 align=center>Coming trips</h3>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div ng-if="!showData">
        <h3>{{message}}</h3>
      </div>
      <div class="col-xs-12" ng-if="showData">
        <div class="tab-content">
          <table st-table="trips" class="table table-striped">
            <thead>
              <tr>
                <th st-sort="name">Name</th>
                <th st-sort="date" st-sort-default="reverse">Date</th>
                <th st-sort="place">Place</th>
              </tr>
              <!-- <tr> -->
                <!-- <th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="trip in trips" st-sort="{{trip}}">{{trip}}</th> -->
              <!-- </tr> -->
            </thead>
            <tbody>
              <tr ng-repeat="trip in trips">
                <td>{{trip.name}}</td>
                <td>{{trip.date}}</td>
                <td>{{trip.place}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>          
    </div>
  </div>
</div>
