
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">New Trip</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>New Trip</h3>
      <hr>
    </div>
  </div>
  <div class="row row-content">

  <form class="form-horizontal" name="tripForm" ng-submit="submitTrip()" novalidate>
    <div class="form-group"  ng-class="{ 'has-error' : tripForm.name.$error.required && !tripForm.name.$pristine }">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input class="form-control" rows="12" name="name" ng-model="trip.name" required></input>
          <span ng-show="tripForm.name.$error.required && !tripForm.name.$pristine" class="help-block">The name is required.</span>
        </div>
    </div> 
    <div class="form-group"  ng-class="{ 'has-error' : tripForm.place.$error.required && !tripForm.place.$pristine }">
        <label for="place" class="col-sm-2 control-label">Place</label>
        <div class="col-sm-10">
          <input class="form-control" rows="12" name="place" ng-model="trip.place" required></input>
          <span ng-show="tripForm.place.$error.required && !tripForm.place.$pristine" class="help-block">The place is required.</span>
        </div>
    </div>         
    <div class="form-group">
      <label class="col-sm-2 control-label">
        How much fun
      </label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="fun" ng-model="trip.fun" id="fun1" value=1> 1
        </label>
        <label class="radio-inline">
          <input type="radio" name="fun" ng-model="trip.fun" id="fun2" value=2> 2
        </label>
        <label class="radio-inline">
          <input type="radio" name="fun" ng-model="trip.fun" id="fun3" value=3> 3
        </label>
        <label class="radio-inline">
          <input type="radio" name="fun" ng-model="trip.fun" id="fun4" value=4> 4
        </label>
        <label class="radio-inline">
          <input type="radio" name="fun" ng-model="trip.fun" id="fun5" value=5 checked> 5
        </label>
      </div>
    </div>                    
    <div class="form-group">
      <label for="notes" class="col-sm-2 control-label">Your notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="12" name="notes" ng-model="trip.comment">
        </textarea>
      </div>
    </div> 
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-disabled="tripForm.$invalid">Add trip</button>
      </div>
    </div>
  </form>

  </div>

</div>
